<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-contact">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% endif %}
            </li>
            {% if site.email %}
            <li><i class="fa icon fa-envelope-o" aria-hidden="true"></i> <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
          <li><i class="fa icon fa-linkedin" aria-hidden="true"></i> <a href="https://www.linkedin.com/in/kaspersor">kaspersor</a></li>
          <li><i class="fa brand icon fa-map-marker" aria-hidden="true"></i> Copenhagen, DK</li>
          <li>
            <i class="fa brand fa-child small" aria-hidden="true"></i><i class="fa brand fa-female" aria-hidden="true"></i><i class="fa brand fa-child smaller" aria-hidden="true"></i>
            Married, 2 children
          </li>
        </ul>
      </div>
      <div class="footer-col footer-col-bio">
        <p>{{ site.description | escape }}</p>
      </div>
      <div class="footer-col footer-col-photo">
        <img src="/assets/photos/speaker_02.jpg"/>
      </div>
    </div>

  </div>

</footer>
