.headerlink {
	color: $grey-color;
	font-size: 0.6em;
	font-family: Arvo, monospace;
}

div.fullwidth {
	position: relative;
	width: 100vw;
	margin-left: -50vw;
	left: 50%;
}

.plotitem_job_group text {
	font-size: 9px;
}

.plotitem:hover {
	fill-opacity: 1;
}

div.timeline_tooltip {
	position: absolute;
	text-align: left;
	background: #333;
	color: white;
	padding: 1em;
	pointer-events: none;
	border: 1px solid white;
}

h1,
h2,
h3 {
	font-family: Arvo, monospace;
}

hr {
	margin-top: 1.4em;
	margin-bottom: 2em;
}

.contact-list .fa.icon {
	width: 16px;
}

.fa.brand {
	color: $brand-color
}

.fa.small {
	font-size: 0.8em;
	margin: 0;
}

.fa.smaller {
	font-size: 0.6em;
}